@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

// Media query variables
$small:  25em; //* 400px */
$medium: 43em; //* 700px */
$big:    56em; //* 900px */
$large:  81em; //* 1300px */

// W3C Colours
$w3c_paleblue: #f1f7fb;
$w3c_blue: #005A9C;
$w3c_purple: #003366;
$w3c_fg: #ffffff;
$wai_bg: #fffaf5;
$wai_fg: black;
$wai_link: #003366;
$wai_link_visited: #660033;
$wai_link_active: #003366;
$wai_red: #993300;
$wai_grey_bg: #e0e0e0;
$wai_grey: #333333;

@import "helpers";

.font-primary {
	font-family: "Trebuchet MS", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
}
.font-secondary {
	font-family: Georgia, Times, "Times New Roman", serif;
}

// Modifications to existing WAI stylesheet
#tagline {
  display: block;
  overflow: hidden;/* Let height include floats */
  margin: 0;
  padding: 0;
  color: $w3c_fg;
  background: $wai_red;
  min-height: 23px;/* Height of rounded corner */
  border-radius: 0 28px 0 0;
  p {
    margin: 0;
    padding: 0.3em 20px 0.3em 0.3em; /* 20px makes room for rounded corner */
    text-align: right;
  }
}

#footer {
  ul {
    margin-left: 0;
    padding: 0;
    li {
      list-style-type: none;
    }
  }
}

ul.inline {
  display: inline;
  li {
    display: inline;
    &:before {
      content: ", "
    }
    &:first-child {
      &:before {
        content: '';
      }
    }
    &:last-child {
      &:before {
        content: ', and ';
      }
      &:after {
        content: '.';
      }
    }
    &:last-child {
      &:nth-child(2) {
        &:before {
          content: " and ";
        }
      }
      &:first-child {
        &:before {
          content: '';
        }
      }
    }
  }
}

.status {
	padding: .25em;
  margin-bottom: -1.5em;
	h3, p {
		display:inline;
		color: inherit;
		font-size: 1em;
	}
	.draft & {
		background-color: #CFC;
	}
	.editors-draft & {
		background-color:#FCC;
	}
}

// Adjust navigation for small viewports
#nav {
  float: none;
  width: auto;
}
#main {
  margin: 0;
}

.contribute {
  box-sizing: border-box;
  border: 1px solid #666 !important;
  background-color: darken($wai_bg, 1%);
  border-radius: .5em;
  padding: 1em;
  margin: 2em auto;
  width: 90%;
  .heading {
    @extend .font-secondary;
    color: #333333 !important;
    border-bottom: none !important;
    font-weight: bold;
    font-size: 1em;
    margin: 0 !important;
    padding: 0 !important;
    + p {
      margin-top: 0.5em;
    }
  }
  .buttons {
    text-align: center;
    margin-top: 1em;
    padding: .5em 0 0;
    border-top: 1px solid #ccc;
    line-height: 300%;
  }
}

/*
* Various standard button stylings
*/
.btn {
  background: linear-gradient(to bottom, lighten(#ccc, 10%), #ccc);
  color: #333;
  font-weight: normal;
  font-size: 1em;
  line-height: percentage(44/18);
  padding: .5em .75em;
  text-decoration: none;
  white-space: nowrap;
  border: {
    color: #ccc;
    width: 1px;
    style: solid;
    radius: .25em;
  }
  &:hover, &:focus {
    color: #333;
    text-decoration: none;
    background: linear-gradient(to bottom, #ccc, darken(#ccc, 10%));
  }
}

@include mq($medium) {
  .contribute {
    width: 65%;
  }
}

// And then move the navigation to the left when things get bigger
@include mq($medium) {
  #nav {
    float: left;
    width: 24%;
  }
  #main {
    margin: 0 0 0 27%;
  }
}

@media print {
  body {
    background: #ffffff;
  }
  
  header {
    img {
      max-width: none;
    }
    #masthead {
      margin: 0;
      float: left;
      > p, p {
        margin: 0;
        width: auto;
        border-right: none;
      }
    }
    #tagline {
      background: none;
      color: #333;
      p {
        text-align: left;
      }
    }
  }
  #main {
    margin: 0;
  }
  #controls, #nav, nav.section, .contribute, .permalink {
    display: none;
  }
  .color-alone {
    img {
      width: 150px;
      height: 150px;
    }
  }
}