<aside class="side-box contribute" role="complementary">
  <h2 class="heading">We welcome your ideas</h2>
  <p>Please share your ideas, suggestions, or comments via email to the publicly-archived list <a href="mailto:wai-eo-editors@w3.org?subject=%5b{{page.title | replace: ' ', '%20' }}%5d">wai-eo-editors@w3.org</a> or via GitHub.</p>

  <div class="buttons">
    <a class="btn" title="Publicly archived list" href="mailto:wai-eo-editors@w3.org?subject=%5b{{page.title | replace: ' ', '%20' }}%5d">E-mail</a>
    <a class="btn"
href="https://github.com/w3c/wai-inclusion/blob/master/source{{page.file}}">Fork &amp; edit on GitHub</a>
    <a class="btn" href="https://github.com/w3c/wai-inclusion/issues/new?title=[{{page.title | replace: ' ', '%20' }}]&amp;body=This%20is%20a%20comment%20related%20to%20the%20page%20[{{page.title | replace: ' ', '%20' }}](//w3c.github.io/wai-inclusion/{{ page.path }})">New GitHub Issue</a>
  </div>
</aside>
