<strong>Editors:</strong>
<a href="{{ '/People/#kevin' | prepend: site.w3c_url }}">Kevin White</a>,
<a href="{{ '/People/shadi' | prepend: site.w3c_url }}">Shadi About-Zahra</a>, and
<a href="{{ '/People/Shawn' | prepend: site.w3c_url }}">Shawn Lawton Henry</a>.

{% if page.path != 'acknowledgements.html' %}
  <a href="acknowledgements.html">Acknowledgements</a>.
{% endif %}

Developed by the <a href="{{ '/WAI/EO/' | prepend: site.w3c_url }}">Education and Outreach Working Group (EOWG)</a>.

Developed as part of the <a href="{{ '/WAI/WAI-AGE/' | prepend: site.w3c_url }}">WAI-AGE project</a> <strong>(IST 035015)</strong>, funded by the <strong>European Commission under the 6th Framework</strong>.
