<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
  {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{ "/WAI/wai-main.css" | prepend: site.w3c_url }}">
  <link rel="stylesheet" href="{{ "/css/wai_style_changes.css" | prepend: site.baseurl }}">
  <!--[if IE 7]><link rel="stylesheet" href="{{ "/WAI/ie-old.css" | prepend: site.w3c_url }}"><![endif]-->
</head>
<body class="{{ page.layout }} {{ current_page.status }}">

  <header>
    <ul id="controls">
      <li><a href="#skip"><img src="{{ '/Icons/downinpage.png' | prepend: site.w3c_url }}" alt=""> Skip to Content</a></li>
      <li> | <a href="{{ '/WAI/changedesign' | prepend: site.w3c_url }}">Change text size or colors</a></li>
    </ul>
    <div id="masthead">
      <p id="logos">
        <a href="{{ '/' | prepend: site.w3c_url }}" title="W3C Home"><img src="{{ '/Icons/w3c_home' | prepend: site.w3c_url }}" alt="W3C"></a>
        <a href="{{ '/WAI/' | prepend: site.w3c_url }}" title="WAI Home"><img src="{{ '/WAI/images/wai-temp' | prepend: site.w3c_url }}" alt="Web Accessibility initiative"></a>
      </p>
    </div>
    <div id="tagline">
      <p>WAI: Strategies, guidelines, resources to make the Web accessible to people with disabilities</p>
    </div>
  </header>

  {% include sidenav.html %}
